body {
  background-color: #171716;
  font-family: 'Georgia', serif, sans-serif;
  color: LightGrey;
  margin: auto;
  max-width: 100%;
}

h1, h2, h3, h4, p, blockquote, dl {
  padding-left: 20px;
  color: White;
  line-height: 1.4;
  width: 75%;
}

p, dd {
  color: LightGrey;
}

dt {
  font-weight: bold;
      margin-bottom: 0.5em;
}

figcaption {
  color: White;
}

a {
  text-decoration: none;
}

/* unvisited link */
a:link {
  color: LightSteelBlue;
}

/* visited link */
a:visited {
  color: SteelBlue;
}

/* mouse over link */
a:hover {
  color: SteelBlue;
}

/* selected link */
a:active {
  color: SteelBlue;
}

.navbar {
  background-color: #00264d;
  border-radius: 2px;
  max-width: 100%;
}

.navbar a {
  color: White;
  display: inline-block;
  font-size: 16px;
  padding: 10px;
  text-decoration: none;
}

li, ol, dl {
  margin: 5px 0;
  width: 75%;
}

.border-box {
  text-align: center;
  width: 50%;
  height: 10%;
  padding: 10px;
  margin-left: 10px;
  border: 3px solid SteelBlue;
}

table, th, td {
  margin-left: 20px;
  border:1px solid SteelBlue;
  text-align: center;
}

table {
  width: 75%;
}

th, td {
  padding: 5px;
}

th.project-column {
  width: 10%;
}

th.goal-column {
  width: 55%;
}